<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<div>
    <h1>home</h1>
    <p>
        <a href="/member/join">회원 가입</a>
        <a href="/member/login">로그인</a>
        <a href="/member">회원 목록</a>
    </p>
    <p>
<!--        <button onclick="boardReq()">게시판</button>-->
        <button onclick="pagingReq()">게시판</button>
    </p>
</div>
</body>
<script>

function boardReq() {
    location.href = "/board/";
}

function pagingReq() {
    location.href = "/board/paging";
}

<!--const boardReq = () => {-->
<!--    location.href = "/board/";-->
<!--}-->

</script>
</html>