<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h2>회원가입</h2>
<div>
    <form action="/member/join" method="post">
        <div>
            아이디 : <input type="text" name="memberId"> <br>
            비밀번호 : <input type="password" name="memberPassword"> <br>
            이름 : <input type="text" name="memberName"> <br>
            이메일 : <input type="text" name="memberEmail"> <br>
        </div>
        <input type="submit" value="가입">
    </form>
</div>
</body>
</html>